body {
  background: linear-gradient(90deg, #0b1e40 0%, rgba(10,29,61,0.927) 53.64%, rgba(3,13,31,0) 734.24%);
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  color: #f3f09b;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: center;
  width: 25%;
}
hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid #fff;
  background: transparent;
  width: 25%;
  opacity: 0.1;
}
.description .btn-link {
  margin-right: 10px;
}
.description {
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  z-index: 999;
}
.description p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
.description p + p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 20px;
}
.description p + p + p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
.description p.auth {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
}
.hive_1 {
  position: absolute;
  left: 92.03%;
  right: -14.55%;
  top: 59.58%;
  bottom: 18.37%;
  transform: rotate(30deg);
  opacity: 0.3;
}
.hive_2 {
  position: absolute;
  left: 85.58%;
  right: -10.1%;
  top: 82.61%;
  bottom: -0.66%;
  transform: rotate(30deg);
  opacity: 0.3;
}
.hive_3 {
  position: absolute;
  left: 78%;
  right: 5.48%;
  top: 87.65%;
  bottom: -9.7%;
  transform: rotate(9.15deg);
  opacity: 0.3;
}
.hive_4 {
  position: absolute;
  left: 33.09%;
  right: 48.16%;
  top: 88.47%;
  bottom: -48.94%;
  transform: rotate(-104.52deg);
  opacity: 0.3;
}
.hive_5 {
  position: absolute;
  left: 11.95%;
  right: 69.3%;
  top: 78.17%;
  bottom: -13.64%;
  transform: rotate(-42.2deg);
  opacity: 0.3;
}
.hive_6 {
  position: absolute;
  left: -6.48%;
  right: 87.73%;
  top: 80.17%;
  bottom: -23.64%;
  transform: rotate(-42.2deg);
  opacity: 0.3;
}
.hive_7 {
  position: absolute;
  left: 90%;
  right: 50.81%;
  top: 0%;
  bottom: 15.21%;
  transform: rotate(159.5deg);
  opacity: 0.3;
}
.hive_8 {
  position: absolute;
  left: -5.08%;
  right: 86.33%;
  top: -2.36%;
  bottom: 73.89%;
  opacity: 0.3;
}
.hexagon-wrapper {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
/* ---------Hexagon */
/* ----------- Animations */
/* ----------- Animations */
/* ----------- Animations */
/* ----------- Animations */
/* ----------- Animations */
/* ----------- Animations */
/* ----------- Animations */
/* ----------- Axis */
/* ---------- Presets */
}
.hexagon-wrapper .hexagon .left,
.hexagon-wrapper .hexagon .left:before,
.hexagon-wrapper .hexagon .left:after,
.hexagon-wrapper .hexagon .right,
.hexagon-wrapper .hexagon .right:before,
.hexagon-wrapper .hexagon .right:after {
  background: rgba(255,255,255,0.1);
}
.hexagon-wrapper .hexagon .bullet {
  background: #fff;
}
.hexagon-wrapper .h-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-1 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: -97.74px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-1 linear infinite;
  animation: hexagon-orbit-1 linear infinite;
  animation-duration: 19s;
  animation-delay: 0s;
  background: #162c66;
}
.hexagon-wrapper .h-1 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-1 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-1 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-1 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-1 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-1 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-1 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(232.74px, -135px);
  }
  33% {
    transform: translate(465.48px, 0);
  }
  49% {
    transform: translate(465.48px, 270px);
  }
  64% {
    transform: translate(232.74px, 405px);
  }
  83% {
    transform: translate(0, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-1 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(232.74px, -135px);
  }
  33% {
    transform: translate(465.48px, 0);
  }
  49% {
    transform: translate(465.48px, 270px);
  }
  64% {
    transform: translate(232.74px, 405px);
  }
  83% {
    transform: translate(0, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-1 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(232.74px, -135px);
  }
  33% {
    transform: translate(465.48px, 0);
  }
  49% {
    transform: translate(465.48px, 270px);
  }
  64% {
    transform: translate(232.74px, 405px);
  }
  83% {
    transform: translate(0, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-1 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(232.74px, -135px);
  }
  33% {
    transform: translate(465.48px, 0);
  }
  49% {
    transform: translate(465.48px, 270px);
  }
  64% {
    transform: translate(232.74px, 405px);
  }
  83% {
    transform: translate(0, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-1 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(232.74px, -135px);
  }
  33% {
    transform: translate(465.48px, 0);
  }
  49% {
    transform: translate(465.48px, 270px);
  }
  64% {
    transform: translate(232.74px, 405px);
  }
  83% {
    transform: translate(0, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-1 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(232.74px, -135px);
  }
  33% {
    transform: translate(465.48px, 0);
  }
  49% {
    transform: translate(465.48px, 270px);
  }
  64% {
    transform: translate(232.74px, 405px);
  }
  83% {
    transform: translate(0, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .h-2 {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-2 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: -78.19200000000001px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-2 linear infinite;
  animation: hexagon-orbit-2 linear infinite;
  animation-duration: 18s;
  animation-delay: 1s;
  background: #162c66;
}
.hexagon-wrapper .h-2 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-2 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-2 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-2 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-2 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-2 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-2 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(186.192px, -108px);
  }
  33% {
    transform: translate(372.384px, 0);
  }
  49% {
    transform: translate(372.384px, 216px);
  }
  64% {
    transform: translate(186.192px, 324px);
  }
  83% {
    transform: translate(0, 216px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-2 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(186.192px, -108px);
  }
  33% {
    transform: translate(372.384px, 0);
  }
  49% {
    transform: translate(372.384px, 216px);
  }
  64% {
    transform: translate(186.192px, 324px);
  }
  83% {
    transform: translate(0, 216px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-2 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(186.192px, -108px);
  }
  33% {
    transform: translate(372.384px, 0);
  }
  49% {
    transform: translate(372.384px, 216px);
  }
  64% {
    transform: translate(186.192px, 324px);
  }
  83% {
    transform: translate(0, 216px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-2 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(186.192px, -108px);
  }
  33% {
    transform: translate(372.384px, 0);
  }
  49% {
    transform: translate(372.384px, 216px);
  }
  64% {
    transform: translate(186.192px, 324px);
  }
  83% {
    transform: translate(0, 216px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-2 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(186.192px, -108px);
  }
  33% {
    transform: translate(372.384px, 0);
  }
  49% {
    transform: translate(372.384px, 216px);
  }
  64% {
    transform: translate(186.192px, 324px);
  }
  83% {
    transform: translate(0, 216px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-2 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(186.192px, -108px);
  }
  33% {
    transform: translate(372.384px, 0);
  }
  49% {
    transform: translate(372.384px, 216px);
  }
  64% {
    transform: translate(186.192px, 324px);
  }
  83% {
    transform: translate(0, 216px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .h-3 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-3 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: -58.644000000000005px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-3 linear infinite;
  animation: hexagon-orbit-3 linear infinite;
  animation-duration: 16s;
  animation-delay: 2s;
  background: #162c66;
}
.hexagon-wrapper .h-3 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-3 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-3 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-3 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-3 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-3 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-3 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(139.644px, -81px);
  }
  33% {
    transform: translate(279.288px, 0);
  }
  49% {
    transform: translate(279.288px, 162px);
  }
  64% {
    transform: translate(139.644px, 243px);
  }
  83% {
    transform: translate(0, 162px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-3 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(139.644px, -81px);
  }
  33% {
    transform: translate(279.288px, 0);
  }
  49% {
    transform: translate(279.288px, 162px);
  }
  64% {
    transform: translate(139.644px, 243px);
  }
  83% {
    transform: translate(0, 162px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-3 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(139.644px, -81px);
  }
  33% {
    transform: translate(279.288px, 0);
  }
  49% {
    transform: translate(279.288px, 162px);
  }
  64% {
    transform: translate(139.644px, 243px);
  }
  83% {
    transform: translate(0, 162px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-3 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(139.644px, -81px);
  }
  33% {
    transform: translate(279.288px, 0);
  }
  49% {
    transform: translate(279.288px, 162px);
  }
  64% {
    transform: translate(139.644px, 243px);
  }
  83% {
    transform: translate(0, 162px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-3 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(139.644px, -81px);
  }
  33% {
    transform: translate(279.288px, 0);
  }
  49% {
    transform: translate(279.288px, 162px);
  }
  64% {
    transform: translate(139.644px, 243px);
  }
  83% {
    transform: translate(0, 162px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-3 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(139.644px, -81px);
  }
  33% {
    transform: translate(279.288px, 0);
  }
  49% {
    transform: translate(279.288px, 162px);
  }
  64% {
    transform: translate(139.644px, 243px);
  }
  83% {
    transform: translate(0, 162px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .h-4 {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-4 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: -39.096000000000004px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-4 linear infinite;
  animation: hexagon-orbit-4 linear infinite;
  animation-duration: 13s;
  animation-delay: 3s;
  background: #162c66;
}
.hexagon-wrapper .h-4 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-4 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-4 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-4 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-4 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-4 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-4 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(93.096px, -54px);
  }
  33% {
    transform: translate(186.192px, 0);
  }
  49% {
    transform: translate(186.192px, 108px);
  }
  64% {
    transform: translate(93.096px, 162px);
  }
  83% {
    transform: translate(0, 108px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-4 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(93.096px, -54px);
  }
  33% {
    transform: translate(186.192px, 0);
  }
  49% {
    transform: translate(186.192px, 108px);
  }
  64% {
    transform: translate(93.096px, 162px);
  }
  83% {
    transform: translate(0, 108px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-4 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(93.096px, -54px);
  }
  33% {
    transform: translate(186.192px, 0);
  }
  49% {
    transform: translate(186.192px, 108px);
  }
  64% {
    transform: translate(93.096px, 162px);
  }
  83% {
    transform: translate(0, 108px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-4 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(93.096px, -54px);
  }
  33% {
    transform: translate(186.192px, 0);
  }
  49% {
    transform: translate(186.192px, 108px);
  }
  64% {
    transform: translate(93.096px, 162px);
  }
  83% {
    transform: translate(0, 108px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-4 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(93.096px, -54px);
  }
  33% {
    transform: translate(186.192px, 0);
  }
  49% {
    transform: translate(186.192px, 108px);
  }
  64% {
    transform: translate(93.096px, 162px);
  }
  83% {
    transform: translate(0, 108px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-4 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(93.096px, -54px);
  }
  33% {
    transform: translate(186.192px, 0);
  }
  49% {
    transform: translate(186.192px, 108px);
  }
  64% {
    transform: translate(93.096px, 162px);
  }
  83% {
    transform: translate(0, 108px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .h-5 {
  position: absolute;
  height: 20%;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-5 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: -19.548000000000002px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-5 linear infinite;
  animation: hexagon-orbit-5 linear infinite;
  animation-duration: 18s;
  animation-delay: 4s;
  background: #162c66;
}
.hexagon-wrapper .h-5 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-5 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-5 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-5 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-5 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-5 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-5 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(46.548px, -27px);
  }
  33% {
    transform: translate(93.096px, 0);
  }
  49% {
    transform: translate(93.096px, 54px);
  }
  64% {
    transform: translate(46.548px, 81px);
  }
  83% {
    transform: translate(0, 54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-5 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(46.548px, -27px);
  }
  33% {
    transform: translate(93.096px, 0);
  }
  49% {
    transform: translate(93.096px, 54px);
  }
  64% {
    transform: translate(46.548px, 81px);
  }
  83% {
    transform: translate(0, 54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-5 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(46.548px, -27px);
  }
  33% {
    transform: translate(93.096px, 0);
  }
  49% {
    transform: translate(93.096px, 54px);
  }
  64% {
    transform: translate(46.548px, 81px);
  }
  83% {
    transform: translate(0, 54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-5 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(46.548px, -27px);
  }
  33% {
    transform: translate(93.096px, 0);
  }
  49% {
    transform: translate(93.096px, 54px);
  }
  64% {
    transform: translate(46.548px, 81px);
  }
  83% {
    transform: translate(0, 54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-5 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(46.548px, -27px);
  }
  33% {
    transform: translate(93.096px, 0);
  }
  49% {
    transform: translate(93.096px, 54px);
  }
  64% {
    transform: translate(46.548px, 81px);
  }
  83% {
    transform: translate(0, 54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-5 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(46.548px, -27px);
  }
  33% {
    transform: translate(93.096px, 0);
  }
  49% {
    transform: translate(93.096px, 54px);
  }
  64% {
    transform: translate(46.548px, 81px);
  }
  83% {
    transform: translate(0, 54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .h-6 {
  position: absolute;
  height: 0%;
  width: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-6 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-6 linear infinite;
  animation: hexagon-orbit-6 linear infinite;
  animation-duration: 15s;
  animation-delay: 5s;
  background: #162c66;
}
.hexagon-wrapper .h-6 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-6 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-6 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-6 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-6 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-6 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-6 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 0);
  }
  49% {
    transform: translate(0px, 0px);
  }
  64% {
    transform: translate(0px, 0px);
  }
  83% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-6 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 0);
  }
  49% {
    transform: translate(0px, 0px);
  }
  64% {
    transform: translate(0px, 0px);
  }
  83% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-6 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 0);
  }
  49% {
    transform: translate(0px, 0px);
  }
  64% {
    transform: translate(0px, 0px);
  }
  83% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-6 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 0);
  }
  49% {
    transform: translate(0px, 0px);
  }
  64% {
    transform: translate(0px, 0px);
  }
  83% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-6 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 0);
  }
  49% {
    transform: translate(0px, 0px);
  }
  64% {
    transform: translate(0px, 0px);
  }
  83% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-6 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 0);
  }
  49% {
    transform: translate(0px, 0px);
  }
  64% {
    transform: translate(0px, 0px);
  }
  83% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .h-7 {
  position: absolute;
  height: -20%;
  width: -20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-wrapper .h-7 .bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 19.548000000000002px;
  top: 0;
  border-radius: 50%;
  border: 1px solid 162c 66;
  margin: -4px 0 0 -4px;
  z-index: 1;
  right: -36.2%;
  will-change: top, left;
  -webkit-animation: hexagon-orbit-7 linear infinite;
  animation: hexagon-orbit-7 linear infinite;
  animation-duration: 12s;
  animation-delay: 6s;
  background: #162c66;
}
.hexagon-wrapper .h-7 .left {
  width: 100%;
  height: 1px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  position: absolute;
  left: -36.2%;
  margin-top: -1px;
  z-index: 0;
}
.hexagon-wrapper .h-7 .left:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-left: 1px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-7 .left:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.hexagon-wrapper .h-7 .right {
  width: 100%;
  height: 1px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  position: absolute;
  right: -36.2%;
  z-index: 0;
}
.hexagon-wrapper .h-7 .right:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  -webkit-transform: rotate(-120deg);
  -webkit-transform-origin: 0 100%;
}
.hexagon-wrapper .h-7 .right:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-left: -1px;
  -webkit-transform: rotate(-240deg);
  -webkit-transform-origin: 100% 100%;
}
@-webkit-keyframes hexagon-orbit-7 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(-46.548px, 27px);
  }
  33% {
    transform: translate(-93.096px, 0);
  }
  49% {
    transform: translate(-93.096px, -54px);
  }
  64% {
    transform: translate(-46.548px, -81px);
  }
  83% {
    transform: translate(0, -54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-7 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(-46.548px, 27px);
  }
  33% {
    transform: translate(-93.096px, 0);
  }
  49% {
    transform: translate(-93.096px, -54px);
  }
  64% {
    transform: translate(-46.548px, -81px);
  }
  83% {
    transform: translate(0, -54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes hexagon-orbit-7 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(-46.548px, 27px);
  }
  33% {
    transform: translate(-93.096px, 0);
  }
  49% {
    transform: translate(-93.096px, -54px);
  }
  64% {
    transform: translate(-46.548px, -81px);
  }
  83% {
    transform: translate(0, -54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hexagon-orbit-7 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(-46.548px, 27px);
  }
  33% {
    transform: translate(-93.096px, 0);
  }
  49% {
    transform: translate(-93.096px, -54px);
  }
  64% {
    transform: translate(-46.548px, -81px);
  }
  83% {
    transform: translate(0, -54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes hexagon-orbit-7 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(-46.548px, 27px);
  }
  33% {
    transform: translate(-93.096px, 0);
  }
  49% {
    transform: translate(-93.096px, -54px);
  }
  64% {
    transform: translate(-46.548px, -81px);
  }
  83% {
    transform: translate(0, -54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hexagon-orbit-7 {
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(-46.548px, 27px);
  }
  33% {
    transform: translate(-93.096px, 0);
  }
  49% {
    transform: translate(-93.096px, -54px);
  }
  64% {
    transform: translate(-46.548px, -81px);
  }
  83% {
    transform: translate(0, -54px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hexagon-wrapper .axis {
  position: absolute;
  width: 1px;
  top: -50%;
  bottom: -50%;
  background: rgba(255,255,255,0.06);
  left: 50%;
  z-index: 0;
}
.hexagon-wrapper .axis:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.06);
  transform: rotate(60deg);
  z-index: 0;
}
.hexagon-wrapper .axis:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.06);
  transform: rotate(120deg);
  z-index: 0;
}
.hexagon-wrapper .h-1 .left,
.hexagon-wrapper .h-1 .left:before,
.hexagon-wrapper .h-1 .left:after,
.hexagon-wrapper .h-1 .right,
.hexagon-wrapper .h-1 .right:before,
.hexagon-wrapper .h-1 .right:after {
  background: rgba(255,255,255,0.04);
}
.hexagon-wrapper .h-1 .bullet {
  background: #fff;
}
.hexagon-wrapper .h-2 .left,
.hexagon-wrapper .h-2 .left:before,
.hexagon-wrapper .h-2 .left:after,
.hexagon-wrapper .h-2 .right,
.hexagon-wrapper .h-2 .right:before,
.hexagon-wrapper .h-2 .right:after {
  background: rgba(255,255,255,0.06);
}
.hexagon-wrapper .h-2 .bullet {
  background: #fff;
}
.hexagon-wrapper .h-3 .left,
.hexagon-wrapper .h-3 .left:before,
.hexagon-wrapper .h-3 .left:after,
.hexagon-wrapper .h-3 .right,
.hexagon-wrapper .h-3 .right:before,
.hexagon-wrapper .h-3 .right:after {
  background: rgba(255,255,255,0.08);
}
.hexagon-wrapper .h-3 .bullet {
  background: #fff;
  animation-direction: reverse;
}
.hexagon-wrapper .h-4 .left,
.hexagon-wrapper .h-4 .left:before,
.hexagon-wrapper .h-4 .left:after,
.hexagon-wrapper .h-4 .right,
.hexagon-wrapper .h-4 .right:before,
.hexagon-wrapper .h-4 .right:after {
  background: rgba(255,255,255,0.1);
}
.hexagon-wrapper .h-4 .bullet {
  background: #fff;
}
.hexagon-wrapper .h-5 .left,
.hexagon-wrapper .h-5 .left:before,
.hexagon-wrapper .h-5 .left:after,
.hexagon-wrapper .h-5 .right,
.hexagon-wrapper .h-5 .right:before,
.hexagon-wrapper .h-5 .right:after {
  background: rgba(255,255,255,0.1);
}
.hexagon-wrapper .h-5 .bullet {
  background: #fff;
  animation-direction: reverse;
}
